h4,h3
{
    text-align: left;
    color:rgb(190, 1, 1);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

h1,h2{
  text-align: left;
    color:rgb(18, 136, 2);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

p{
  text-align: left;
}
