<mat-toolbar color="primary" class="app-header">
  <div><a routerLink="/" class="positronx">BetterHelp</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="/" routerLinkActive="active">Log in</a>
    <a mat-button  mat-raised-button routerLink="aboutus" routerLinkActive="active">About Us</a>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>
<br><br>
<div>

  <br><br>
  <br>
  <h1> <b> About Us </b></h1>

    <h3>To face the financial crisis happening in Lebanon, institutions, municipalities and some rich people are helping those in need.
    <br>We always hear about some families in need who haven’t received their portion of aid due to the disorganized way of distribution.</h3>
<br>
    <h1> <b>How can we achieve equal and fair distribution of aid to all those in need? </b></h1>

  <h3>This is where we play a vital part in solving this dilemma. We ensure everything <br>
       distributed is counted and delivered proficiently through the municipality. </h3>
<p>
 <img src='../../assets/img/aboutus.jpeg'>
</p>

</div>
<footer>
<h3 align="left"> <b>In case of any desire to help financially, please refer to the municipality officials
   of your town, who will guide you the steps to become an independent delegator. </b></h3>
</footer>
